<div class="card-field">
<mat-card>
  <mat-card-content>
    <p >Name= {{user.name}}</p>
    <p >User Name= {{user.username}}</p>
    <p >Email= {{user.email}}</p>
    <p >Address= {{user.address.street}}</p>
    <p>suite={{user.address.suite}}</p>
    <p>City={{user.address.city}}</p>
    <p>Zipcode={{user.address.zipcode}}</p>
    <p>Geo-lat={{user.address.geo.lat}}</p>
    <p>Geo-lng={{user.address.geo.lng}}</p>
    <p >Phone= {{user.phone}}</p>
    <p >Website= {{user.website}}</p>
    <p >Company Name= {{user.company.name}}</p>
    <p >CatchPhrase= {{user.company.catchPhrase}}</p>
    <p >BS= {{user.company.bs}}</p>









  </mat-card-content>
</mat-card>
</div>
