.table {
  width: 85%;
  margin-left: 7%;
  margin-top: 2%;
}


.container {
  background-color: rgb(145, 144, 141);
}

.table-header {
  text-align: center;
  color: black;
  font-size: 15px;
}

h2 {
  text-align: center;
  padding-top: 25px;
}

.mat-elevation-z8{
  width: 60%;
}
